$font-serif: "Cormorant Garamond", serif;
$gold-gradient: linear-gradient(135deg, #bf953f 0%, #fcf6ba 25%, #b38728 50%, #fbf5b7 75%, #aa771c 100%);

.goldLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goldAbstractIcon {
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background: $gold-gradient;
  padding: 3px; 
  box-shadow: 0px 8px 35px rgba(170, 119, 28, 0.1);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #050505; /* Assicurati che corrisponda allo sfondo del sito */
    border-radius: 50%;
    z-index: 1;
  }

  .goldGradientText {
    position: relative;
    z-index: 2;
    font-size: 5.8rem; 
    font-weight: 300;
    font-family: $font-serif;
    background: $gold-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}